<div class="container">
<div class="left-align">
<section *ngIf="article && article.creator">
    <h5>{{article.creator.fullName}}'s Report Dated: {{article.created}}</h5>
    <div *ngIf="allowEdit">
        <a [routerLink]="['/articles', article._id, 'edit']">edit</a>
        <button (click)="delete()">delete</button>
    </div>
        <b>Body Temperature: </b><i>{{article.bodytemperature}} degrees</i><br/>
            <b>Heart rate: </b><i>{{article.heartrate}} bpm</i><br/>
            <b>Blood Pressure: </b><i>{{article.bloodpressure}} mm</i><br/>
            <b>Respiration Rate: </b><i>{{article.respirationrate}} bpm</i><br/>
            <b>Weight: </b><i>{{article.weight}} kgs</i><br/>
        <hr/>
</section>
</div>
</div>