<div class="container">
<img src="assets/logo.png" height="133px" width="500px">

<section *ngIf="article && article.creator">
    <h1>{{article.title}}</h1>
    <div *ngIf="allowEdit">
        <a [routerLink]="['/articles', article._id, 'edit']">edit</a>
        <button (click)="delete()">delete</button>
    </div>
    <small>
        <em>
            Added on {{article.created}} by {{
article.creator.
fullName
            }}
        </em>
    </small>
    <p>
            <b>{{article.content}}</b></p>
            <p><b>Semester: </b><i>{{article.semester}}</i><br/>
                <b>Section: </b><i>{{article.section}}</i></p>
</section>
<form action="/api/articles">
    <input type="submit" value="List All the courses"/>
</form>
</div>