
<div class="center">
        
<div *ngIf="user">

    <h1>Hello {{user.firstName}}</h1>
    <form action="/api/auth/signout">
        <input type="submit" value="Sign Out" class="waves-effect waves-light btn" />
    </form>
    
    <ul>
        <li><a [routerLink]="['/articles']">View Reports</a></li>
        <li><a [routerLink]="['/articles/create']">Create Report</a></li>
    </ul>
</div>
</div>
<div *ngIf="!user" class="center"> 
        <div class="row">
                <div class="col s12">
                  <div class="card-panel teal">
                    <span class="white-text"> 
                      <b>Welcome to Patient Management System</b>
                      <div class=left-align>
                      <ol>
                        <li>This Application allows patients to enter their data daily </li>
                        <li>This Application allows nurse to enter patient's data that is observed </li>
                        <li>This Application provides daily tips to the patients</li>
                      </ol>
                    </div>
                    </span>
                  </div>
                </div>
              </div>          
    <table class="container">
        <tr>
            <td>
        <form action="/authentication/signup" >
            <input type="submit" value="Sign Up"  class="btn waves-effect waves-light"/>
        </form>
        </td>
        </tr>
        <tr>
        <td>
        <form action="/authentication/signin" >
            <input type="submit" value="Sign In" class="btn waves-effect waves-light"/>
        </form>
        </td>
        </tr>

    </table>
    
    </div>
